* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif; }

.scroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh; }
  .scroll section {
    scroll-snap-align: start; }

.header {
  background-color: none;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  scroll-snap-align: start; }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header__container__logo {
      width: 300px;
      margin: 10px 0px 20px 0px; }
    .header__container__links {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style: none;
      margin-bottom: 80px; }
      .header__container__links li a {
        color: rgba(0, 0, 0, 0.596);
        font-size: 3em; }
    .header__container__image {
      margin: 0 auto;
      width: 100%; }

.main {
  background-color: blue;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  scroll-snap-align: start; }

.aboutus {
  background-color: green;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  scroll-snap-align: start; }

.footer {
  background-color: yellow;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  scroll-snap-align: center; }
