* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif; }

.header {
  padding-bottom: 70px; }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header__container__logo {
      width: 300px;
      margin: 10px 0px 20px 0px; }
    .header__container__links {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style: none;
      margin-bottom: 80px;
      gap: 20px; }
      .header__container__links li a {
        color: rgba(0, 0, 0, 0.596);
        font-size: 3em; }
    .header__container__image {
      margin: 0 auto;
      width: 100%; }

.main {
  display: flex;
  flex-direction: column;
  width: 100vw; }
  .main__title {
    text-align: left;
    color: rgba(0, 0, 0, 0.596);
    font-size: 10vw;
    font-weight: 300; }
  .main__container {
    height: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    row-gap: 0.5em; }
    .main__container__proyect {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;
      border-radius: 4%; }
      .main__container__proyect__title {
        text-align: center;
        color: rgba(0, 0, 0, 0.596);
        margin-bottom: 5px; }
      .main__container__proyect__description {
        text-align: left;
        width: 50%;
        margin-left: 50px; }
        .main__container__proyect__description::first-letter {
          font-size: 30px;
          color: rgba(0, 128, 0, 0.808);
          font-weight: 600; }
      .main__container__proyect__image {
        margin: auto;
        width: 10vw; }

@media only screen and (max-width: 900px) {
  .main__container {
    display: flex;
    flex-direction: column; }
    .main__container__proyect {
      padding-bottom: 10px; }
    .main__container__proyect__image {
      width: 150px;
      float: left; } }

.aboutus {
  padding: 15px 0px 15px 0px; }
  .aboutus__title {
    text-align: right;
    color: rgba(0, 0, 0, 0.596);
    font-size: 10vw;
    font-weight: 300; }
  .aboutus__description {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.596); }

.footer {
  background-color: yellow; }
