* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  list-style: none; }

.header {
  width: 100vw;
  padding-bottom: 70px; }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header__container__logo {
      width: 300px;
      margin: 10px 0px 20px 0px; }
    .header__container__links {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 80px;
      gap: 20px; }
      .header__container__links li a {
        color: rgba(0, 0, 0, 0.596);
        font-size: 3em; }
    .header__container__image {
      margin: 0 auto;
      width: 100%; }

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 75px; }
  .main__title {
    text-align: left;
    color: rgba(0, 0, 0, 0.596);
    font-size: 10vw;
    margin-left: 1px;
    font-weight: 300;
    background: #b1acac;
    background: linear-gradient(65deg, rgba(177, 172, 172, 0.0116422) 0%, rgba(0, 0, 0, 0.353379) 100%); }
  .main__container {
    height: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    row-gap: 0.5em; }
    .main__container__proyect {
      display: flex;
      flex-direction: column;
      padding-bottom: 5px;
      width: 90%;
      margin: 0 auto;
      border-bottom: 1px solid black;
      border-radius: 4%; }
      .main__container__proyect__title {
        text-align: center;
        color: rgba(0, 0, 0, 0.596);
        margin-bottom: 5px; }
      .main__container__proyect__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center; }
        .main__container__proyect__flex__description {
          text-align: left;
          width: 35%;
          margin-left: 50px; }
          .main__container__proyect__flex__description::first-letter {
            font-size: 30px;
            color: rgba(0, 128, 0, 0.808);
            font-weight: 600; }
        .main__container__proyect__flex__image {
          width: 210px;
          height: 200px;
          border-radius: 20%; }

@media only screen and (max-width: 1000px) {
  .main__container {
    display: flex;
    flex-direction: column; }
  .main__container__proyect__flex__description {
    width: 80%; } }

.aboutus {
  padding: 15px 0px 60px 0px; }
  .aboutus__title {
    text-align: right;
    color: rgba(0, 0, 0, 0.596);
    font-size: 10vw;
    margin-left: 1px;
    font-weight: 300;
    background: black;
    background: linear-gradient(65deg, rgba(0, 0, 0, 0.353379) 0%, rgba(177, 172, 172, 0.0116422) 100%); }
  .aboutus__description {
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.596); }
    .aboutus__description__image {
      width: 50vw;
      float: left;
      margin: 30px 30px 30px 0px; }
    .aboutus__description__words {
      color: purple;
      font-size: xx-large;
      font-weight: 700; }

.footer {
  width: 100vw; }
  .footer__title {
    text-align: left;
    color: rgba(0, 0, 0, 0.596);
    font-size: 10vw;
    font-weight: 300;
    margin-left: 1px;
    margin-bottom: 30px;
    background: black;
    background: linear-gradient(65deg, rgba(0, 0, 0, 0.353379) 0%, rgba(177, 172, 172, 0.0116422) 100%); }
  .footer__container__form {
    width: 50vw;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.767);
    border-radius: 1em; }
    .footer__container__form__ul__li {
      margin-top: 1em; }
      .footer__container__form__ul__li__label {
        display: inline-block;
        width: 90px;
        text-align: right;
        color: rgba(0, 0, 0, 0.596); }
      .footer__container__form__ul__li__input {
        width: 40vw;
        box-sizing: border-box;
        border: 1px solid #999;
        color: rgba(0, 0, 0, 0.596); }
        .footer__container__form__ul__li__input:focus {
          border-color: rgba(0, 0, 0, 0.726); }
      .footer__container__form__ul__li__textarea {
        width: 40vw;
        height: 35vh;
        box-sizing: border-box;
        border: 1px solid #999;
        vertical-align: top; }
        .footer__container__form__ul__li__textarea:focus {
          border-color: #000; }
    .footer__container__form__button {
      margin: 50px 0px 20px 90px;
      color: rgba(0, 0, 0, 0.596); }
  .footer__container__contacts {
    width: 100vw;
    height: 200px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.596); }
