.aboutus{
    
    padding: 15px 0px 60px 0px;
    

    &__title{
        text-align: right;
        color: $textColor;
        font-size: 10vw;
        margin-left: 1px;
        font-weight: 300;
        background: rgb(0,0,0);
        background: linear-gradient(65deg, rgba(0,0,0,0.3533788515406162) 0%, rgba(177,172,172,0.011642156862745057) 100%);
    }

    &__description{
        padding-top: 10px;
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        font-size: x-large;
        color: $textColor;

        &__image{
            width: 50vw;
            float: left;
            margin: 30px 30px 30px 0px;
        }

        &__words{
            color: purple;
            font-size: xx-large;
            font-weight: 700;
        }
    }


}