.footer{

    width: 100vw;
    padding-bottom: 100px;

    &__title{
        text-align: left;
        color: $textColor;
        font-size: 10vw;
        font-weight: 300;
        margin-left: 10px;
        margin-bottom: 30px;
        background: rgb(0,0,0);
        background: linear-gradient(65deg, rgba(0,0,0,0.3533788515406162) 0%, rgba(177,172,172,0.011642156862745057) 100%);
    }

    &__container{

        &__form{
            width: 90vw;
            margin: 0 auto; 
            padding: 1em;
            border: 1px solid #CCC;
            border-radius: 1em;

            &__ul{

                &__li{
                    margin-top: 1em;

                    &__label{
                        display: inline-block;
                        width: 90px;
                        text-align: right;
                    }  
                    
                    &__input{
                        width: 40vw;
                        box-sizing: border-box;
                        border: 1px solid #999;

                        &:focus{
                            border-color: #000;
                        }
                    }


                    &__textarea{
                            width: 40vw;
                            height: 35vh;
                            box-sizing: border-box;
                            border: 1px solid #999;
                            vertical-align: top;
                            

                            &:focus{
                                 border-color: #000;
                            }
                        }
                   
                }
            }

            &__button{
                padding-left: 90px;
                margin-left: .5em;
            }
        }
    }
}