.footer{

    width: 100vw;

    &__title{
        text-align: left;
        color: $textColor;
        font-size: 10vw;
        font-weight: 300;
        margin-left: 1px;
        margin-bottom: 30px;
        background: rgb(0,0,0);
        background: linear-gradient(65deg, rgba(0,0,0,0.3533788515406162) 0%, rgba(177,172,172,0.011642156862745057) 100%);
    }

    &__container{

        &__form{
            width: 50vw;
            margin: 0 auto; 
            border: 1px solid rgba(0, 0, 0, 0.767);
            border-radius: 1em;

            &__ul{

                &__li{
                    margin-top: 1em;

                    &__label{
                        display: inline-block;
                        width: 90px;
                        text-align: right;
                        color: $textColor;
                    }  
                    
                    &__input{
                        width: 40vw;
                        box-sizing: border-box;
                        border: 1px solid #999;
                        color: $textColor;

                        &:focus{
                            border-color: rgba(0, 0, 0, 0.726);
                        }
                    }


                    &__textarea{
                            width: 40vw;
                            height: 35vh;
                            box-sizing: border-box;
                            border: 1px solid #999;
                            vertical-align: top;
                            

                            &:focus{
                                 border-color: #000;
                            }
                        }
                   
                }
            }

            &__button{
                margin: 50px 0px 20px 90px;
                color: $textColor;
                
                
            }
        }

        &__contacts{
            
            width: 100vw;
            height: 200px;
            margin-top: 30px;
            background-color: $textColor;

        }
    }
}