.header{

    background-color: none;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    scroll-snap-align: start;

    &__container{
        
        display: flex;
        flex-direction: column;
        align-items: center;

        &__logo{
            width: 300px    ;
            margin: 10px 0px 20px 0px;
        }

        &__links{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            list-style: none;
            margin-bottom: 80px;

            li{
                a{
                    color: rgba(0, 0, 0, 0.596);
                    font-size: 3em;
                }
            }
        }
        
        &__image{
            margin: 0 auto;
            width: 100%;
        }
    }
}