.main{
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    &__title{
        text-align: left;
        color: $textColor;
        font-size: 10vw;
        font-weight: 300;
        background: rgb(177,172,172);
        background: linear-gradient(65deg, rgba(177,172,172,0.011642156862745057) 0%, rgba(0,0,0,0.3533788515406162) 100%);
    }

    &__container{
        height: 100%;
        margin-top: 25px;
        margin-bottom: 10px;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5em;
        row-gap: 0.5em;
        
        
        &__proyect{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid black;
            border-radius: 4%;

            &__title{
                text-align: center;
                color: $textColor;
                margin-bottom: 5px;
            }

            &__flex{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                &__description{
                    text-align: left;
                    width: 35%;
                    margin-left: 50px;

                    &::first-letter{
                        font-size: 30px;
                        color: rgba(0, 128, 0, 0.808);
                        font-weight: 600;
                    }
                }

                &__image{
                    background-color: green;
                    margin: auto;
                    height: 100px;
                }
            }   
        
        
        }

    }
}


@media only screen and (max-width: 900px){

    .main__container{
        display: flex;
        flex-direction: column;

        &__proyect{
            padding-bottom: 10px;
        }

        &__proyect__image{
            width: 150px;
            float: left;
        }
    }
    
}