.main{
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 75px;

    &__title{
        text-align: left;
        color: $textColor;
        font-size: 10vw;
        margin-left: 10px;
        font-weight: 300;
        background: rgb(177,172,172);
        background: linear-gradient(65deg, rgba(177,172,172,0.011642156862745057) 0%, rgba(0,0,0,0.3533788515406162) 100%);
    }

    &__container{
        height: 100%;
        margin-top: 25px;
        margin-bottom: 10px;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5em;
        row-gap: 0.5em;
        
        
        &__proyect{
            display: flex;
            flex-direction: column;
            padding-bottom: 5px;
            width: 90%;
            margin: 0 auto;
            border-bottom: 1px solid black;
            border-radius: 4%;

            &__title{
                text-align: center;
                color: $textColor;
                margin-bottom: 5px;
            }

            &__flex{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-content: center;

                &__description{
                    text-align: left;
                    width: 35%;
                    margin-left: 50px;

                    &::first-letter{
                        font-size: 30px;
                        color: rgba(0, 128, 0, 0.808);
                        font-weight: 600;
                    }
                }

                &__image{
                    width: 210px;
                    height: 200px;
                    border-radius: 20%;
                }
            }   
        
        
        }

    }
}


@media only screen and (max-width: 1000px){

    .main__container{
        display: flex;
        flex-direction: column;
    }

   .main__container__proyect__flex__description{
       width: 80%;
   }
    
}