@import 'styles/scss/core/resets.scss';
@import 'styles/scss/abstracts/variables.scss';
@import 'styles/scss/layout/header.scss';
@import 'styles/scss/layout/main.scss';
@import 'styles/scss/layout/aboutus.scss';
@import 'styles/scss/layout/footer.scss';