@import 'styles/scss/core/resets.scss';
@import 'styles/scss/abstracts/scroll.scss';
@import 'styles/scss/layout/header.scss';
@import 'styles/scss/layout/mainpage.scss';
@import 'styles/scss/layout/aboutus.scss';
@import 'styles/scss/layout/footer.scss';